---
# Clean up DNS challenges for DNS provider Amazon Route53
- name: Cleaning up challenge DNS entries for domains {{ ', '.join(domains) }}" via Route53
  local_action:
    module: route53
    state: absent
    zone: "{{ item.key | regex_replace('^(?:.*\\.|)([^.]+\\.[^.]+)$', '\\1') }}"
    record: "{{ item.key }}"
    type: TXT
    ttl: 60
    value: "{{ item.value | map('regex_replace', '^(.*)$', '\'\\1\'' ) | list }}"
    overwrite: true
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
  run_once: True
  with_dict: "{{ lets_encrypt_challenge.get('challenge_data_dns', {}) }}"
  tags:
  - issue-tls-certs-newkey
  - issue-tls-certs
